body {
    padding: 1%;
    min-height: 100vh;
    min-width: 100vw;
    color: black;
    background-color: #ebebe0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "text"
    "lineChart"
    "pieChart"
    "barChart";
}

h1 {
    font-family: lato;
    text-align: center;
    font-size: 45px;

}
p {
    font-family: lato;
    text-align: center;
    font-size: 15px;
}


#text{
    grid-area:  text;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#lineChart {
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: rgb(148, 153, 148);
    border-style: solid;
    border-color: black;
    border-width: 0.2px;
    grid-area: lineChart;
    
}


#pieChart {
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: rgb(148, 153, 148);
    border-style: solid;
    border-color: black;
    border-width: 0.2px;
    grid-area: pieChart;
    
}


#barChart {
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: rgb(148, 153, 148);
    border-style: solid;
    border-color: black;
    border-width: 0.2px;
    grid-area: barChart;
}






@media only screen and (min-width: 768px){
    body {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr repeat(2, 3fr);
        grid-template-areas: 
        "text text"
        "lineChart lineChart"
        "pieChart barChart";
    }


    }


@media only screen and (min-width: 1024px){
    body {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2fr 3fr 3fr;
        grid-template-areas: 
        "text text text"
        "lineChart pieChart barChart"
        "space space space";
    }
   
    }   


